.elementor-495 .elementor-element.elementor-element-94c91f3 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-495 .elementor-element.elementor-element-94c91f3 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-495 .elementor-element.elementor-element-47053b4 .jet-listing-dynamic-image{justify-content:flex-start;}.elementor-495 .elementor-element.elementor-element-62df436{text-align:left;}.elementor-495 .elementor-element.elementor-element-62df436 .elementor-heading-title{font-family:"Arial", arial;font-size:1rem;font-weight:700;text-decoration:none;}.elementor-495 .elementor-element.elementor-element-62df436 > .elementor-widget-container{margin:10px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-495 .elementor-element.elementor-element-c4dc6ac{color:#7F7F7F;}/* Start custom CSS for section, class: .elementor-element-e7b4a20 */.elementor-495 .elementor-element.elementor-element-e7b4a20 a{
    text-decoration: none;
}

.elementor-495 .elementor-element.elementor-element-e7b4a20 .title{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    min-height: 3em;
}

.elementor-495 .elementor-element.elementor-element-e7b4a20 h3:hover{
    color: #d90000!important;
    cursor: pointer;
    text-decoration: underline!important;
}

.elementor-495 .elementor-element.elementor-element-e7b4a20 .description{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    min-height: 1em;
}

.elementor-495 .elementor-element.elementor-element-e7b4a20 .description strong{
    font-weight: normal;
}/* End custom CSS */